table {
	border : 1px solid #5B82A4;
}

table thead th {	
    background-color: #5B82A4; 
    border:2px solid #5B82A4;
    color: white;
}

tbody tr:hover {
	background: #CEECF5; 
}

th {	
    background-color: #5B82A4; 
    color: white;
}

th.text-align-center,.text-align-center{
	text-align:center;
}

h3 {
	color : #3079C2;
}

div#progress-bar-div {
	margin-top : 50px;
	height : 200px;
}

.text-align-center {
	text-align : center;
}

.font-size-medium-center {
	font-size : 15px;
	text-align : center;
	display : block;'
}

ol.action-list, ol.action-list li{
	padding : 4px;
	padding-left : 5px;
}

dl{
	font-size : 16px;
}

dt {
	padding-bottom : 5px;
}

dd {
	padding-bottom : 10px;
}

legend {
	margin-top : -10px;
	padding-bottom : 10px;
}

.float-right {
	float : right;
	margin-right : 5px;
	cursor: hand; 
	cursor: pointer;
}

.show-popover {
	cursor: hand; 
	cursor: pointer;
}

.custom-white-well {
	background:white;
	border-left:none;
	border-right:none;
	border-radius:10px;
}

.custom-purple-legend {
	color:#0B09A0;
}

.overflow-y-visible {
	overflow-y : visible;
}

.overflow-y-auto {
	overflow-y : auto;
}