div.div-pager {
	margin-top : -20px;
}

h3 {
	color : #3079C2;
}

div#progress-bar-div {
	margin-top : 50px;
	height : 200px;
}

.text-align-center {
	text-align : center;
}

.font-size-medium-center {
	font-size : 15px;
	text-align : center;
	display : block;'
}