#import-data-button, #selectedDataSetId {
	margin-left : 30px;
	margin-top : -5px;
}

div#div-search {
	margin-top : -10px;
	margin-bottom : 10px;
}

h3.catalogue-chooser-header {
	color : #3079C2;
}
