.table {
	margin-bottom: 10px;
}

.table-condensed td {
	padding: 1px 2px;
}

#container-plugin {
	border-spacing: 0px;
}

ul.dynatree-container {
	height: auto;
}

.box-title {
	font-size: 10pt;
	font-weight: bold;
	padding: 2px;
	margin: 0px;
	background-color: #BDCDDA;
}

#search-text {
	height: 26px;	
}

#dataset-browser {
	max-height: 500px;
	overflow-y: auto;
}

#feature-details {
	min-height: 200px;
}

#feature-selection {
	min-height: 270px;
	max-height: 370px;
	overflow-y: auto;
}

#feature-selection td.center {
	text-align: center;
}

#feature-shopping-controls {
	padding-top: 10px;	
}

.feature-table-col1 {
	background: #DCE3F7;
	font-weight: bold;
	padding: 5px;
	margin: 1px;
	width: 10px !important;
	border: solid thin white;
}

i:hover {
	cursor: pointer;
}

#orderdata-selection-table td.center {
	text-align: center;
}

#orderdata-selection-table-container {
	max-height: 300px;
	overflow: auto;
}

#orderdata-list-container {
	max-height: 300px;
	overflow: auto;
}