target/
.settings/
.project
.classpath
.idea
*.iml
*.ipr
*.iws
*.DS_Store
git.properties
compute.properties
.compute.properties
molgenis-compute-core/src/main/resources/workflows/*/out/
molgenis-compute-core/src/main/resources/workflows/*/rundir/
molgenis-compute-core/test-output
*/data/elasticsearch/
/data/elasticsearch/
molgenis-app-omx/data
molgenis-app-ngs/data
test-output/
derby.log
.metadata/
.RData
.RHistory
molgenis-data-mysql/.factorypath
molgenis-pathways/.factorypath
molgenis-app/.factorypath
molgenis-data-mapper/.factorypath
molgenis-data-migrate/.factorypath
molgenis-data-semanticsearch/.factorypath
molgenis-model-registry/.factorypath
molgenis-ontology-core/.factorypath
molgenis-ontology/.factorypath
molgenis-data-import/.factorypath
molgenis-core-ui/.factorypath
molgenis-catalogue/.factorypath
molgenis-charts/.factorypath
molgenis-data-annotators/.factorypath
molgenis-data-rest/.factorypath
molgenis-dataexplorer/.factorypath
molgenis-questionnaires/.factorypath
molgenis-python/.factorypath
molgenis-r/.factorypath
molgenis-scripts/.factorypath
