target/
.settings/
.project
.classpath
*.iml
*.ipr
*.iws
*.DS_Store
git.properties
*/data/elasticsearch/
/data/elasticsearch/
test-output/
derby.log
.metadata/
.RData
.RHistory

.idea/*
.idea/fileTemplates/*/
!.idea/fileTemplates/

**/npm-debug.log

**/.factorypath
**/node_modules
**/node
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

release.properties
pom.xml.releaseBackup
molgenis-app/dev-env/.env
molgenis-platform-integration-tests/integ-test-env/.env
audit.log
