language: java
jdk: openjdk11
# Xenial dist needed for postgresql version 11
dist: xenial
# Caches downloaded libraries between builds
cache:
  yarn: true
  directories:
    - '$HOME/.m2/repository'
env:
  # Variables shared between builds
  global:
    - PGPORT=5433
  # This configures the parallel jobs to run
  matrix:
    - COV_FLAG="api"                       SCRIPT="./mvnw -X verify -pl molgenis-api-tests --batch-mode --quiet -Dmaven.test.redirectTestOutputToFile=true -Dit_db_user=postgres -Dit_db_password=molgenis -Dit_db_port=5433 -DMINIO_ACCESS_KEY=molgenis -DMINIO_SECRET_KEY=molgenis"
    - COV_FLAG="integration"               SCRIPT="travis_wait ./mvnw verify -pl molgenis-platform-integration-tests --batch-mode --quiet -Dmaven.test.redirectTestOutputToFile=true -Dit_db_user=postgres -Dit_db_password=molgenis -Dit_db_port=5433 -Dminio.access.key=molgenis -Dminio.access.secret=molgenis"
addons:
  sauce_connect: true
sudo: required
before_install:
  - .ci/install-minio-6.sh
  - .ci/install-postgres-11.sh
  # Use wrapper script to install fixed maven version
  - mvn -N io.takari:maven:wrapper -Dmaven=3.5.4
install:
  - ./mvnw install -DskipTests -Dmaven.javadoc.skip=true -B -V -T4
before_script:
  # Set the max_map_count for elasticsearch, as instructed by maven Elasticsearch plugin docs
  - sudo sysctl -w vm.max_map_count=262144
script:
  - $SCRIPT
notifications:
  slack:
    rooms:
      # Sends build status updates for molgenis/molgenis repo to #pr-platform channel on molgenis-dev slack
      secure: blnxfapt6aAdRDjNvy2Ykp3yPxhRqo0srfz9MI2obKGXFOO2ee+AF0TNosmz9aZG0J3u4e3YI+z9BvjcNMvTzzPCjiLiC3MSbtB9w0SHwhg6q7s1ehVoYKqB22++8S6GEYy5FgBpBLQ+jXEnwiglHfKLowJjvQS8s2NBMhAwEqY=
after_success:
  - if [ -n "$COV_FLAG" ]; then bash <(curl -s https://codecov.io/bash) -c -F "${COV_FLAG}"; fi
