language: java
jdk: openjdk11
# Ubuntu 18.04 LTS
dist: bionic
# Caches downloaded libraries between builds
cache:
  yarn: true
  directories:
    - '$HOME/.m2/repository'
env:
  # Variables shared between builds
  global:
    - PGPORT=5433
  # This configures the parallel jobs to run
  matrix:
    - COV_FLAG="api"                       SCRIPT=".ci/jobs/api-tests.sh"
    - COV_FLAG="integration"               SCRIPT=".ci/jobs/integration-tests.sh"
addons:
  sauce_connect: true
sudo: required
before_install:
  - .ci/services/install-minio-6.sh
  - .ci/services/install-postgres-11.sh
install:
  - mvn install -DskipTests -B -V -T4
before_script:
  # Set the max_map_count for elasticsearch, as instructed by maven Elasticsearch plugin docs
  - sudo sysctl -w vm.max_map_count=262144
script:
  - $SCRIPT
notifications:
  slack:
    rooms:
      # Sends build status updates for molgenis/molgenis repo to #pr-platform channel on molgenis-dev slack
      secure: blnxfapt6aAdRDjNvy2Ykp3yPxhRqo0srfz9MI2obKGXFOO2ee+AF0TNosmz9aZG0J3u4e3YI+z9BvjcNMvTzzPCjiLiC3MSbtB9w0SHwhg6q7s1ehVoYKqB22++8S6GEYy5FgBpBLQ+jXEnwiglHfKLowJjvQS8s2NBMhAwEqY=
