.well {
	padding: 10px;
}

#dataset-select-label {
	margin-right: 10px;
	font-size: 15.4px;
}

.icon-filter {
	margin-left: 10px;
}

#feature-selection label {
	display: inline;
}

#download-button {
	float: right;
}

#genomebrowser {
    visibility: hidden
}

#observationset-search-container {
	text-align: center;
}

.accordion-group {
	background-color: #5B82A4;
}

.accordion-toggle {
	color: white;
}

a.accordion-toggle:hover,a.accordion-toggle:focus,a.accordion-toggle:active
	{
	color: white;
	text-decoration: none;
	cursor: default;
}

.accordion-body {
	background-color: white;
}

.feature-filter-remove {
	margin-left: 4px;
}

.feature-filter-remove .ui-icon-closethick {
	display: inline-block;
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
	vertical-align: middle;
}

#feature-selection .molgenis-tree {
	height: 400px;
	overflow: auto;
	margin-bottom: 10px;
}

#aggregate-table-container th {
	background-color: #5B82A4;
	color: white;
}

#dataexplorer-aggregate-data table {
	margin-top: 20px;
	background: #DDDDDD;
}

#dataexplorer-grid-data table {
	background: #DDDDDD;
}

.viewer {
	cursor: pointer;
}

.view-disabled {
	display: none;
}

.view-enabled {
	display: block;
}

#dataDiv {
	float: left;
	height: 26px;
	text-align: center;
	border-radius: 3px;
	width: 90px;
}

#aggregateDiv {
	height: 26px;
	float: left;
	width: 90px;
}

#filter-nav-content{
	margin-top: 25px;
}

#feature-select-container{	
	margin-bottom: 20px;
}

#filter-nav li a:hover{
	cursor: default
}

#feature-select {
	position:absolute;
}

#feature-selection .fancytree-ico-e span.fancytree-icon
{
	background-position: 0 0;
	background-image: url("../../img/filter-bw.png");
}

#feature-selection .fancytree-ico-e span.fancytree-icon:hover {
	background-position: 0 0;
	background-image: url("../../img/filter-bw.png");
	cursor: pointer;
}

.molgenis-xrefsearch .select2-result {
	vertical-align: top;
	padding: 2px;
	font-size: 12px;
	color: #333;
}

.molgenis-xrefsearch .select2-result:nth-child(even) {
	background-color: #DDD;
}

.molgenis-xrefsearch .select2-result:nth-child(odd) {
	background-color: #FFF;
}

.molgenis-xrefsearch .select2-results .select2-highlighted {
    background: #04c;
    color: #fff;
}

.molgenis-xrefsearch .add-ref-query-part, .remove-ref-query-part {
	margin-left: 10px;
}

#filter-wizard-modal .modal-body {
	min-height: 500px;
	max-height: 500px;
	padding-bottom: 0;
}

#filter-wizard-modal .well {
	overflow: auto;
	margin-bottom: 10px;
}

.filter-wizard-fixed-height {
	height: 400px;
}

#filter-wizard-modal .pager {
	margin-top: 0px;
	margin-bottom: 0px;
}

#filter-wizard-modal .wizard-steps {
	margin-bottom: 10px
}

/* default fancytree styling */
span.fancytree-node{
	border: none;
}

ul.fancytree-container {
	padding: 0px;
	border: none;
	outline: none;
}

.bootstrap-switch {
	width: 70px;
	min-width: 70px;
}

#slider {
	margin: 0 30px;
	width: 350px;
}

.form-horizontal .controls {
	margin: 4px;
	display: inline-block;
	padding-left: 20px;
	vertical-align: top;
}

.ui-rangeSlider-bar {
	background-color: #5b82a4;	
}

.ui-editRangeSlider-inputValue {
	width: 4em;
}