.container-fluid {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;	
}

.well {
	padding: 10px;
}

.row-fluid {
	margin-bottom: 20px;
}

.control-label {
	margin-right: 5px;
}

#dataset-select-container {
	margin-top: 4px;
	margin-bottom: 8px;
}

#dataset-select-label {
	margin-right:10px;
	font-size: 15.4px;
}

.data-table-container {
	overflow: auto;
	white-space: nowrap;
}

#feature-selection ul {
    list-style-type: none;    
}

.icon-filter {
	margin-left: 10px;
}

#feature-selection label {
	display: inline;
}

#data-table {
	margin-bottom: 0px;
}

#data-table thead th .ui-icon {
	display: inline-block; 
	cursor: pointer;
    *cursor: hand;	
}

#data-table thead th .updown {
	vertical-align: middle;
	background-image: url("images/ui-icons_454545_256x240.png");
}
	
#data-table thead th .up {
	vertical-align: top;
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

#data-table thead th .down {
	vertical-align: bottom;
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

.data-table-pager-container {
	margin-bottom: 0px;
}


#data-table-header {
	font-style:italic;
	margin-bottom: 8px;
    margin-top: 4px;
}

#download-button {
	float: right;	
}

.pagination {
	margin: 0px;
}

.ui-accordion-header {
	background:none; 
	background-color: #5B82A4; 
	color: white;
}

.table thead th {
    background-color: #5B82A4; 
    color: white;
}

ui-state-active .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}
.ui-state-default .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}

#observationset-search-container {
	text-align: center;
}
.accordion-group {
	background-color: #5B82A4;
}

.accordion-toggle {
	color: white;
}

a.accordion-toggle:hover, a.accordion-toggle:focus, a.accordion-toggle:active {
	color: white;
	text-decoration: none;
	cursor: default;
}
	
.accordion-body {
	background-color: white;
}

.feature-filter-dialog {
	display:none;
}

.table td.nothing-found {
	text-align: center;
	color: #888888;
}

.feature-filter-remove {
	margin-left: 4px;	
}

.feature-filter-remove .ui-icon-closethick {
	display: inline-block; 
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
	vertical-align: middle;
}

#feature-selection {
	height: 400px;
}

.ui-accordion-content p, 
.ui-accordion-content li {
	white-space: nowrap;
}

#feature-selection ul.dynatree-container {
	padding: 0px;
	border-style: none;
}

.ui-widget { 
	font-family: inherit;
}

input[type=number] {
	width: 60px;
}

#from {
	margin-left: 10px;
	margin-right: 10px;
}

#to {
	margin-left: 10px;
}

.ui-widget-header {
    background: #5B82A4;
    border: 1px solid #AAAAAA;
    color: white;
}

.ui-widget-header .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-dialog-shadow { 
	box-shadow: 10px 10px 5px #888;
}

.feature-filter-dialog p {
	margin-bottom: 20px;'
}
.feature-filter-dialog h3 {
	border-bottom: 1px solid #AAAAAA;
}

.show-popover {
	cursor: hand; 
	cursor: pointer;
}

.multi-os-datacell input[type=checkbox] {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#date-feature-from, #date-feature-to {
	width:240px;
}

#applybutton-holder {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}