.well {
	padding: 10px;
}

#dataset-select-label {
	margin-right: 10px;
	font-size: 15.4px;
}

.icon-filter {
	margin-left: 10px;
}

#feature-selection label {
	display: inline;
}

#genomebrowser {
    visibility: hidden
}

#observationset-search-container {
	text-align: center;
}

.accordion-group {
	background-color: #5B82A4;
}

.accordion-toggle {
	color: white;
}

a.accordion-toggle:hover,a.accordion-toggle:focus,a.accordion-toggle:active
	{
	color: white;
	text-decoration: none;
	cursor: default;
}

.accordion-body {
	background-color: white;
}

.feature-filter-remove {
	margin-left: 4px;
}

.feature-filter-remove .ui-icon-closethick {
	display: inline-block;
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
	vertical-align: middle;
}

#feature-selection .molgenis-tree {
	height: 400px;
	overflow: auto;
	margin-bottom: 10px;
}

#aggregate-table-container th {
	background-color: #5B82A4;
	color: white;
}

#dataexplorer-aggregate-data table {
	margin-top: 20px;
	background: #DDDDDD;
}

#dataexplorer-grid-data table {
	background: #DDDDDD;
}

.viewer {
	cursor: pointer;
}

.view-disabled {
	display: none;
}

.view-enabled {
	display: block;
}

#dataDiv {
	float: left;
	height: 26px;
	text-align: center;
	border-radius: 3px;
	width: 90px;
}

#aggregateDiv {
	height: 26px;
	float: left;
	width: 90px;
}

#filter-nav-content{
	margin-top: 25px;
}

#feature-select-container{	
	margin-bottom: 20px;
}

#filter-nav li a:hover{
	cursor: default
}

#feature-select {
	position:absolute;
}

#feature-selection .fancytree-ico-e span.fancytree-icon
{
	background-position: 0 0;
	background-image: url("../../img/filter-bw.png");
}

#feature-selection .fancytree-ico-e span.fancytree-icon:hover {
	background-position: 0 0;
	background-image: url("../../img/filter-bw.png");
	cursor: pointer;
}

.molgenis-xrefmrefsearch .select2-result {
	vertical-align: top;
	padding: 2px;
	font-size: 12px;
	color: #333;
}

.select2-input {
	width: 100% !important;
}

.molgenis-xrefmrefsearch .select2-result:nth-child(even) {
	background-color: #DDD;
}

.molgenis-xrefmrefsearch .select2-result:nth-child(odd) {
	background-color: #FFF;
}

.molgenis-xrefmrefsearch .select2-results .select2-highlighted {
    background: #04c;
    color: #fff;
}

.molgenis-xrefmrefsearch .select2-drop-active .select2-result{
	width: 500px !important;
}

.molgenis-xrefmrefsearch.select2-drop-active{
	overflow-x: visible !important;
	width: 535px !important;
	border: 1px solid #5897fb !important;
}

.select2-drop{
	width: 100%;
	margin-top: -1px;
}

.molgenis-xrefmrefsearch .add-ref-query-part, .remove-ref-query-part {
	margin-left: 10px;
}

#filter-wizard-modal .modal-body {
	min-height: 540px;
	max-height: 540px;
	padding-bottom: 0;
}

#filter-wizard-modal .well {
	overflow: auto;
	margin-bottom: 10px;
}

.filter-wizard-fixed-height {
	height: 400px;
}

#filter-wizard-modal .pager {
	margin-top: 0px;
	margin-bottom: 0px;
}

#filter-wizard-modal .wizard-steps {
	margin-bottom: 10px
}

#filter-wizard-modal .form-horizontal .control-group .select2-choices{
	position: static;
}

#filter-modal .modal-body {
	min-height: 250px;
	max-height: 540px;
	padding-bottom: 0;
}

#filter-wizard-modal .form-horizontal .control-label{
	width:20%;
}

#filter-modal .form-horizontal .control-group .select2-choices{
	position: static;
}

/* default fancytree styling */
span.fancytree-node{
	border: none;
}

ul.fancytree-container {
	padding: 0px;
	border: none;
	outline: none;
}

.bootstrap-switch {
	width: 70px;
	min-width: 70px;
}

#slider {
	margin: 0 30px;
	width: 350px;
}

.form-horizontal .controls {
	display: inline-block;
	padding-left: 20px;
	margin-left: 0px;
	vertical-align: top;
}

.form-horizontal .controls.complex-removebutton-container, 
.form-horizontal .controls.complex-addbutton-container, 
.form-horizontal .controls.complex-simplefilter{
	padding-left:0px;
}

.xrefmrefsearch.complex-simplefilter input.select2-input{
	padding-bottom: 3px !important;
	padding-top: 3px !important;
}

.xrefmrefsearch .btn.btn-mini.add-on-left{
	border-bottom-left-radius:4px !important;
	-webkit-border-bottom-left-radius: 4px !important;
	border-top-left-radius:4px !important;
	-webkit-border-top-left-radius: 4px !important;
	border-bottom-right-radius:0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	border-top-right-radius:0px !important;
	-webkit-border-top-right-radius: 0px !important;
}

.form-horizontal .controls.complex-addbutton-container>button, 
.form-horizontal .controls.complex-removebutton-container>button{
	margin-left: 5px;
}

.form-horizontal.filter-controls {
	margin-bottom: 60px;
}

.ui-rangeSlider-bar {
	background-color: #5b82a4;	
}

.ui-editRangeSlider-inputValue {
	width: 4em;
}

input[name="ColNames"] {
  margin-top: -1px;
  vertical-align: middle;
}

#entity-class h3 {
	display: inline;
	margin-right: 10px;
}

#module-nav .nav {
	margin-left: 2.1277%;
}
