.container-fluid {
	padding-top: 10px;	
}

.row-fluid {
	margin-bottom: 20px;
}

#dataset-select-container {
	margin-top: 4px;
	margin-bottom: 8px;
}

#dataset-select-label {
	display: inline;
	margin-right:10px;
	font-size: 15.4px;
}

.data-table-container {
	overflow: auto;
	white-space: nowrap;
}

#feature-selection ul {
    list-style-type: none;    
}

.icon-filter {
	margin-left: 10px;
}

#feature-selection label {
	display: inline;
}

#data-table {
	margin-bottom: 0px;
}

#data-table thead th .ui-icon {
	display: inline-block; 
	cursor: pointer;
    *cursor: hand;	
}

#data-table thead th .updown {
	vertical-align: middle;
	background-image: url("images/ui-icons_454545_256x240.png");
}
	
#data-table thead th .up {
	vertical-align: top;
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

#data-table thead th .down {
	vertical-align: bottom;
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

.data-table-header-container {
	margin-bottom: 0px;
}

#data-table-header {
	font-style:italic;
	float:right;
}

.pagination {
	margin: 0px;
}

.ui-accordion-header {
	background:none; 
	background-color: #5B82A4; 
	color: white;
}

.table thead th {
    background-color: #5B82A4; 
    color: white;
}

ui-state-active .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}
.ui-state-default .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}

.form-search {
	margin-bottom: 0px;
}

.feature-filter-dialog {
	display:none;
}

.table td.nothing-found {
	text-align: center;
	color: #888888;
}

.feature-filter-remove {
	margin-left: 4px;	
}

.feature-filter-remove .ui-icon-closethick {
	display: inline-block; 
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
	vertical-align: middle;
}

#feature-selection {
	height: 400px;
}

.ui-accordion-content p, 
.ui-accordion-content li {
	white-space: nowrap;
}

#feature-selection ul.dynatree-container {
	padding: 0px;
	border-style: none;
}

.ui-widget { 
	font-family: inherit;
}

input[type=number] {
	width: 60px;
}

#from {
	margin-left: 10px;
	margin-right: 10px;
}

#to {
	margin-left: 10px;
}