.well {
	padding: 10px;
}

#dataset-select-label {
	margin-right: 10px;
	font-size: 15.4px;
}

.icon-filter {
	margin-left: 10px;
}

#feature-selection label {
	display: inline;
}

#download-button {
	float: right;
}

#genomebrowser {
    visibility: hidden
}

.pagination {
	margin: 0px;
}

.ui-accordion-header {
	background: none;
	background-color: #5B82A4;
	color: white;
}

ui-state-active .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-state-default .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

#observationset-search-container {
	text-align: center;
}

.accordion-group {
	background-color: #5B82A4;
}

.accordion-toggle {
	color: white;
}

a.accordion-toggle:hover,a.accordion-toggle:focus,a.accordion-toggle:active
	{
	color: white;
	text-decoration: none;
	cursor: default;
}

.accordion-body {
	background-color: white;
}

.feature-filter-dialog {
	display: none;
}

.feature-filter-remove {
	margin-left: 4px;
}

.feature-filter-remove .ui-icon-closethick {
	display: inline-block;
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
	vertical-align: middle;
}

#feature-selection {
	height: 400px;
	overflow: auto;
	margin-bottom: 10px;
}

.ui-accordion-content p,.ui-accordion-content li {
	white-space: nowrap;
}

#feature-selection ul.dynatree-container {
	padding: 0px;
	border-style: none;
}

ul.dynatree-container img:hover {
	cursor: pointer;
}

.ui-widget {
	font-family: inherit;
}

input[type=number] {
	width: 60px;
}

#from {
	margin-left: 10px;
	margin-right: 10px;
}

#to {
	margin-left: 10px;
}

.ui-widget-header {
	background: #5B82A4;
	border: 1px solid #AAAAAA;
	color: white;
}

.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-dialog-shadow {
	box-shadow: 10px 10px 5px #888;
}

.feature-filter-dialog p {
	margin-bottom: 20px;
}

.feature-filter-dialog h3 {
	border-bottom: 1px solid #AAAAAA;
}

.show-popover {
	cursor: hand;
	cursor: pointer;
}

.multi-os-datacell input[type=checkbox] {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#date-feature-from,#date-feature-to {
	width: 240px;
	font-size: 12px;
}

#applybutton-holder {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

#aggregate-table-container th {
	background-color: #5B82A4;
	color: white;
}

#dataexplorer-aggregate-data table {
	margin-top: 20px;
	background: #DDDDDD;
}

#dataexplorer-grid-data table {
	background: #DDDDDD;
}

.viewer {
	cursor: pointer;
}

.view-disabled {
	display: none;
}

.view-enabled {
	display: block;
}

#dataDiv {
	float: left;
	height: 26px;
	text-align: center;
	border-radius: 3px;
	width: 90px;
}

#aggregateDiv {
	height: 26px;
	float: left;
	width: 90px;
}

#filter-nav-content{
	margin-top: 25px;
}

#feature-select-container{	
	margin-bottom: 20px;
}

#filter-nav li a:hover{
	cursor: default
}

#feature-select {
	position:absolute;
}

#filter-dialog-modal-container{
	overflow-y: scroll; 
}

#filter-dialog-modal-container .modal{
	width:700px;
}

#wizard-button{
	color:white;
	background:#5B82A4
}

#feature-selection .fancytree-ico-e span.fancytree-icon
{
	background-position: 0 0;
	background-image: url("../../img/filter-bw.png");
}

#feature-selection .fancytree-ico-e span.fancytree-icon:hover {
	background-position: 0 0;
	background-image: url("../../img/filter-bw.png");
	cursor: pointer;
}

#feature-selection ul.fancytree-container {
	padding: 0px;
	border-style: none;
}

.select2-result {
	vertical-align: top;
	padding: 2px;
	font-size: 12px;
	height: 26px;
	color: #333;
}

.select2-result:nth-child(even) {
	background-color: #DDD;
}

.select2-result:nth-child(odd) {
	background-color: #FFF;
}

.feature-filter-dialog .form-horizontal .controls {
	margin-left: 0px;
}

.add-ref-query-part, .remove-ref-query-part {
	margin-left: 10px;
}

#mref-query-type, .xrefsearch {
	margin-bottom: 10px;
}

