.disease-button-toolbar {
	margin-bottom: 10px;
}

.diseasematcher.badge {
	font-size: 15px;
	font-weight: normal;
}

.diseasematcher.label {
	font-size: 15px;
	font-weight: normal;
}

.divider-vertical {
	 border-right:1px solid #ddd;
}

.top-buffer { margin-top:20px; }

textarea#hpoTermsInput{
	resize: none;
}

.filter-menu{
	position: relative;
}

.center-aligned{
	position: absolute;
	bottom: 20%;
	right: 0;
}

.tab-indent{
	padding-left:5em
}