#attribute-selection .molgenis-tree {
	height: 400px;
	overflow: auto;
	margin-bottom: 10px;
}

#entity-class h3 {
	display: inline;
	margin-right: 10px;
}

#entity-select-holder {
	margin-bottom: 18px;	
}

#search-results-back-btn {
	margin-bottom: 15px;
}

.entity span.fancytree-icon, .entity span.fancytree-icon:hover {
	background-position: -16px -160px !important;
}

p.form-inline {
	margin-top: 50px;
}

.pagination {
	margin: 0;
}