version: "3.4"
services:
  postgres:
    image: postgres:11-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
    volumes:
      - ./init_db.sql:/docker-entrypoint-initdb.d/init.sql
    network_mode: ${NETWORK_MODE:-bridge}

  elasticsearch:
    image: molgenis/molgenis-elasticsearch:1.0.0
    environment:
      - cluster.name=molgenis
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
      - 9300:9300
    network_mode: ${NETWORK_MODE:-bridge}

  minio:
    image: minio/minio:RELEASE.2019-03-20T22-38-47Z
    ports:
      - 9000:9000
    environment:
      MINIO_ACCESS_KEY: molgenis
      MINIO_SECRET_KEY: molgenis
    command: server /data
    network_mode: ${NETWORK_MODE:-bridge}
