.container-fluid {
	margin-top: 10px;
}

.accordion-group {
	margin-top : 70px;
	height : 300px;
	background-color: #5B82A4;
}

.accordion-body {
	height : 200px;
	background-color: white;
}

.accordion-toggle {
	color: white;
}

.accordion-heading h5{
	color : white;
}

.justify-text {
	padding : 10px;
	text-align : justify;
}

h5 {
	padding-left : 10px;
}

.data-table-container {
	overflow: auto;
	white-space: nowrap;
}

.table thead th {
    background-color: #5B82A4; 
    color: white;
}

.table#dataitem-table {
	 border: 1px solid #5B82A4;
}

.show-popover {
	cursor: hand; 
	cursor: pointer;
}

.modal-body {
	overflow-y: visible;
}

.popover-content{
	max-height: 500px;
    overflow-y: auto;
}

.icon-remove{
	position: absolute;
	right:20px;
	cursor: hand; 
	cursor: pointer;
}