
.upper-header {
	height : 150px;
}

.justify-text {
	padding : 10px;
	text-align : justify;
}

div#alert-message {
	height : 40px;
	margin-top : 10px;
}

div.data-table-container {
	height : 400px;
}

.nav-pills {
	margin-top : 5px;
	margin-left : 10px;
	margin-bottom : 5px;
}

.accordion-icon {
	margin-left : 20px;
	margin-top : -5px;
}

.show-popover {
	cursor: hand; 
	cursor: pointer;
}

td.add-border {
	border:2px solid #5B82A4;
}

table thead th {
    background-color: #5B82A4; 
    border:2px solid #5B82A4;
    color: white;
}

.float-right {
	float : right;
	margin-right : 10px;
}

h3 {
	color : #3079C2;
}

h5 {
	padding-left : 10px;
}

dl{
	font-size : 16px;
	margin-top : -5px;
}

dt,dd{
	padding-bottom : 5px;
}