.accordion-group {
	background-color: #5B82A4;
}

.accordion-body {
	background-color: white;
}

.accordion-toggle {
	color: white;
}

.accordion-heading h5{
	color : white;
	padding-left : 10px;
}

div#alert-message {
	height : 40px;
	margin-top : 10px;
}

div#div-search {
	margin-bottom : 10px;
}

div.upper-header{
	height : 170px;
}

div.data-table-container {
	height : 350px;
	overflow : auto;
}

table#dataitem-table {
	border : 1px solid #5B82A4;
}

table thead th {	
    background-color: #5B82A4; 
    border:2px solid #5B82A4;
    color: white;
}

th.feature-detail-th {
	width : 30%;
}

td.feature-detail-td {
	width : 70%;
}

.float-right {
	float : right;
	margin-right : 5px;
}

.float-right a{
	cursor: hand; 
	cursor: pointer;
}

.show-popover {
	cursor: hand; 
	cursor: pointer;
}

.popover-content{
	max-height: 500px;
    overflow-y: auto;
}

.icon-remove{
	float : right;
	right : 20px;
	cursor: hand; 
	cursor: pointer;
}

.modal-body {
	overflow-y: visible;
}

ol.action-list, ol.action-list li{
	padding : 3px;
	padding-left : 5px;
}

dl{
	font-size : 16px;
	margin-top : -5px;
}

dt,dd{
	padding-bottom : 8px;
}


h3 {
	color : #3079C2;
}