.accordion-group {
	height : 320px;
	background-color: #5B82A4;
}

.accordion-body {
	height : 250px;
	background-color: white;
}

.accordion-toggle {
	color: white;
}

.accordion-heading h5{
	color : white;
	padding-left : 10px;
}

div#alert-message {
	height : 40px;
	margin-top : 10px;
}

div#div-search {
	margin-bottom : 10px;
}

div#div-inputinfo{
	height : 150px;
}

div.data-table-container {
	height : 400px;
}

table#dataitem-table {
	 border : 1px solid #5B82A4;
}

table thead th {	
    background-color: #5B82A4; 
    border:2px solid #5B82A4;
    color: white;
}

.show-popover {
	cursor: hand; 
	cursor: pointer;
}

.popover-content{
	max-height: 500px;
    overflow-y: auto;
}

.icon-remove{
	position: absolute;
	right:20px;
	cursor: hand; 
	cursor: pointer;
}

.modal-body {
	overflow-y: visible;
}

ol.action-list, ol.action-list li{
	padding : 5px;
}

dl{
	font-size : 16px;
	margin-top : -5px;
}

dt,dd{
	padding-bottom : 5px;
}


h3 {
	color : #3079C2;
}