.accordion-group {
	height : 280px;
	background-color: #5B82A4;
}

.accordion-body {
	height : 250px;
	background-color: white;
}

.accordion-toggle {
	color: white;
}

.accordion-heading h5{
	color : white;
	padding-left : 10px;
}

div#alert-message {
	height : 40px;
	margin-top : 10px;
}

div#div-index-ontology {
	min-height : 400px;
}

div#div-new-ontology {
	margin-top : 30px;
}

div.btn-group {
	margin-top : 30px;	
}

input#ontologyName {
	margin-bottom : 20px;
}

ol li{
	margin : 10px;
}

h5 {
	padding-left : 10px;
}

h3 {
	color : #3079C2;
}

h4 {
	color : #3079C2;
}