.container-fluid {
	margin-top: 10px;
}

.accordion-group {
	margin-left : 50px;
	margin-top : 60px;
	height : 200px;
	background-color: #5B82A4;
}

.accordion-body {
	background-color: white;
}

.accordion-toggle {
	color: white;
}

.accordion-heading h5{
	color : white;
}

.justify-text {
	padding : 10px;
	text-align : justify;
}

h5 {
	padding-left : 10px;
}

h3 {
	color : #3079C2;
}

h4 {
	color : #3079C2;
}