$accentColor = #017FFD


/* fonts */
@font-face
    font-family: BebasNeueBold;
    src: url(http://molgenis.org/assets/fonts/BebasNeue-Bold.woff);

@font-face
    font-family: IBMPlexMono;
    src: url(http://molgenis.org/assets/fonts/IBMPlexMono-Regular.ttf);

@font-face
    font-family: IBMPlexSans;
    src: url(http://molgenis.org/assets/fonts/IBMPlexSans-Regular.ttf);

@font-face
    font-family: IBMPlexMono-LightItalic;
    src: url(http://molgenis.org/assets/fonts/IBMPlexMono-Lightitalic.ttf);

body
  font-family: IBMPlexSans

h1,h2,.nav-links
  font-family: BebasNeueBold

.nav-links
  font-size: 1.2rem

.sidebar,.site-name
  font-family: IBMPlexMono

.navbar .site-name
  color: $accentColor

a.sidebar-link
  font-weight: 600

.sidebar-sub-headers a.sidebar-link
  font-weight: 400
