#attribute-selection .molgenis-tree {
    height: 400px;
    overflow: auto;
    margin-bottom: 10px;
}

#entity-class h3 {
    display: inline;
    margin-right: 10px;
}

#entity-select-holder {
    margin-bottom: 18px;    
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}
