.error-report-panel{
	height : 300px;
	padding-top : 50px;
}

.glyphicon-plus, .glyphicon-minus{
	cursor:pointer;
	float:right;
}

.table tbody tr td {
	vertical-align: middle;
}

.table-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;
}