#edit-algorithm-container {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ace.readonly .ace_cursor {
	display: none;
}

.clone-btn {
	margin-left: 5px;
}

.validation-errors-anchor {
	color: #fff !important;
}

.validation-error-messages-table {
	display: block;
	height: 500px;
	overflow-y: scroll;
}

.highlight {
	background-color: yellow
}