@font-face {
    font-family: GG;
    font-weight: lighter;
    src: url("../fonts/Geogtq-Lg.otf");
}

@font-face {
    font-family: GPC;
    font-weight: lighter;
    src: url("../fonts/GalaxiePolarisCondensed-Light.otf");
}

@font-face {
    font-family: GPC;
    font-weight: medium;
    src: url("../fonts/GalaxiePolarisCondensed-Medium.otf");
}

@font-face {
    font-family: GPC;
    font-weight: lighter;
    font-style: italic;
    src: url("../fonts/GalaxiePolarisCondensed-LightItalic.otf");
}

.searchcontainer {
    clear: both;
    background-color: #4d4d4d;
}

.selectcontainer {
    padding: 0 20px 0 20px;
}

.searchheader {
    color: rgb(255,225,0);
    font-family: GPC;
    font-size: 2em;
    font-style: italic;
    padding: 15px 20px 20px 20px;
}