.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
}

.nav, .navbar {
	margin-bottom: 10px;
}

.navbar-inner {
	padding-left: 0px;
	padding-right:0px;	
}

.btn-link 	{
	text-shadow:none;
}

.navbar .nav li img {
	margin-top:-5px;
}

.navbar .nav>li>a {
	padding: 10px 10px 10px;
}

.nav-tabs>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 8px;
	padding-left: 8px;
}

#molgenis-menu.nav li.active a {
	background-color: #3079C2;
	color: white;
}

#molgenis-breadcrumb {
	margin-bottom: -10px;
	font-size:10px;
	float:left;	
}

#plugin-container {
	background: #F8FAFB;
	padding: 10px;
	margin-bottom: 10px;	
}

#molgenis-footer p {
	text-align: center;
	font: menu;
	font-style: italic;
}

#spinner {
	width: 180px;
	margin:150px 100px 0px -100px;
}

#spinner img {
	display: block;
	margin:0 auto;
}

.modal-backdrop {
	opacity: .3;
}

.modal-backdrop.fade.in {
	opacity: .3;
}

.alert {
	margin-bottom: 10px;
}

.modal.medium {
    width: 50%;
    margin-left:-25%; 
}

.modal.large {
    width: 80%;
    margin-left:-40%;
    top: 5%;
}

label.horizontal-inline {
	margin-right: 5px;
}

label.horizontal-inline.inbetween {
	margin-left: 5px;
}