.navbar-fixed-top {
    top: 150px;
}

 body>.container-fluid {
     padding-top: 210px;
 !important;
 }

#Intro {
    top: 0;
    position: fixed;
    background-color: #FFFFFF;
    height: 150px;
    width: 100%;
    z-index: 1039;
}