/* Sticky footer - start */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 40px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
}

.footer p {
    margin: 0 0 5px;
}

body>.container-fluid {
    padding-top: 60px;
}
/* Sticky footer - end */

/* Support collapsable panels */
.panel-title {
    color: white;
}

.panel-heading {
    background-color: #5B82A4;  
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right;
}
.panel-heading a.collapsed:after {
    content: "\e080";
}

#plugin-container {
	background: #F8FAFB;
	height: 100%;
	padding: 5px;
}

#spinner img {
	display: block;
	margin:0 auto;
}

.modal-backdrop {
	opacity: .3;
}

.modal-backdrop.fade.in {
	opacity: .3;
}

label.horizontal-inline {
	margin-right: 5px;
}

label.horizontal-inline.inbetween {
	margin-left: 5px;
}

.dropdown-menu{
	overflow-y: auto;
	overflow-x: hidden;
	width: auto;
	height: auto;
	max-height: 500px;
}

/* Bootstrap tooltip style */
.tooltip {
	position: absolute;
	z-index: 1020;
	display: block;
	visibility: visible;
	padding: 5px;
	font-size: 14px;
	opacity: 1;
	filter: alpha(opacity = 1)
}

.tooltip.in {
	opacity: 1;
	filter: alpha(opacity = 1)
}

.tooltip.top {
	margin-top: -2px
}

.tooltip.right {
	margin-left: 2px
}

.tooltip.bottom {
	margin-top: 2px
}

.tooltip.left {
	margin-left: -2px
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #333333
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #333333
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #333333
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #333333
}

.tooltip-inner {
	max-width: 300px;
	padding: 3px 8px;
	color: #333333;
	text-align: center;
	text-decoration: none;
	background-color: #ffffcf;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: normal;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0
}

.toggle {
	overflow: hidden;
	display: inline-block;
	width: 8em;
	background: #e6e6e6;
	border: 1px solid #c3c6c6;
	border-color: #adadad;
	cursor: pointer;
}

.toggle input {
	position: absolute;
	visibility: hidden;
}

.toggle span {
	position: relative;
	left: 0%;
	display: block;
	text-align: center;
}

.toggle :checked+span {
	left: 50%;
}

/* Default unchecked state */
.toggle span:before {
	content: attr(data-unchecked);
	display: block;
	width: 50%;
	background-color: #5cb85c;
	color: black;
}

/* Checked state */
.toggle :checked+span:before {
	content: attr(data-checked);
	background-color: #d9534f;
}

/* Css fix in case of multiple addons */
.input-group-addon:not(:first-child):not(:last-child) {
	border-left: 0px;
}

/* end of Bootstrap tooltip style*/