.table thead th {
    background-color: #5B82A4; 
    color: white;
}

h3 {
	color: #5B82A4; 
	margin: 20px 20px;
}

.form-list-holder {
	width:100%; 
	overflow:auto;
}

.edit-icon-holder {
	width: 22px;
}

.form-search {
	margin:20px 0;
}

.form-search #query-fields {
	width: 120px;	
}

.form-search #operators {
	width: 110px;	
}

.form-search .group-append {
	width: 150px;
}

#list-holder {
	margin-bottom: 40px;	
}

#list-navigation {
	border: 1px solid #CCCCC; 
	background-color: #EEEEEE; 
	height:80px;
}

/* edit form */
label.error {
	color: red;
	padding-top: .5em;
	vertical-align: top;
}

input.error {
	border: 1px solid red;
}

.controls input[type=text],
.select2-choice {
	min-width: 500px !important; 
	height: 30px !important;/* for select2 */
	font-size: 18px;
}

.controls input[type=checkbox] {
	width: 24px;
	height: 24px;
}

.controls textarea {
	width: 500px;
	height: 100px;
	font-size: 18px;
}

.control-label {
	color: #5B82A4;
}

.nav-icon-prev {
	background-image:url('/img/icon-navigation.png');
	width: 11px;
	height: 18px;
}

#back {
	width: 168px;
	margin-top:2px;	
}

.back-text {
	color: #5B82A4; 
	font-size: 18px;
	margin-left: 8px;
}

#data-table-pager {
	margin-bottom: 8px;
}

.add-on-workaround {
  	height:30px;
}

.add-on-workaround i {
	margin-top: 7px;
	cursor:pointer;
  	display:block;
  	height:16px;
 	 width:16px;
}