.table thead th {
    background-color: #5B82A4; 
    color: white;
}

h2 {
	color: #5B82A4; 
	padding-left: 20px;
}

.edit-icon-holder {
	width: 22px;
	height: 22px;
}

/* edit form */
label.error {
	color: red;
	padding-top: .5em;
	vertical-align: top;
}

input.error {
	border: 1px solid red;
}

.controls input[type=text],
.select2-choice {
	width: 500px;
	height: 30px !important;/* for select2 */
	font-size: 18px;
}

.controls input[type=checkbox] {
	width: 24px;
	height: 24px;
}

.controls textarea {
	width: 500px;
	height: 100px;
	font-size: 18px;
}

.control-label {
	color: #5B82A4;
	font-size: 18px;
}

.nav-icon-prev {
	background-image:url('/img/icon-navigation.png');
	width: 11px;
	height: 18px;
}

#back {
	width: 168px;
	margin-top:2px;	
}

.back-text {
	color: #5B82A4; 
	font-size: 18px;
	margin-left: 8px;
}

#data-table-pager {
	margin-bottom: 8px;
}