body {
	padding-top:50px;
}

.btn-link 	{
	text-shadow:none;
}

.navbar .nav li {
	margin-bottom:-5px;
}

.logo-anchor {
	width:70px;
	margin-right:10px;
}

.logo-anchor img{
	width:140%;
	height:130%;
	margin-top:-3px;
	margin-left:-5px;
	margin-right:-30px;
	position:abosolute;
}

.nav-tabs>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 8px;
	padding-left: 8px;
}

#molgenis-menu.nav li.active a {
	background-color: #3079C2;
	color: white;
}

#molgenis-breadcrumb {
	margin-bottom: -10px;
	font-size:10px;
	float:left;	
}

#plugin-container {
	background: #F8FAFB;
	padding: 10px;
	margin-bottom: 10px;
	
}

#molgenis-footer p {
	text-align: center;
	font: menu;
	font-style: italic;
}

#spinner {
	width: 180px;
	margin:150px 100px 0px -100px;
}

#spinner img {
	display: block;
	margin:0 auto;
}

.alert {
	margin-bottom: 10px;
}
