.table thead th {
    background-color: #5B82A4; 
    color: white;
}

h3 {
	color: #5B82A4; 
	margin: 20px 20px;
}

.edit-icon-holder {
	width: 22px;
}

.form-search {
	margin:20px 0;
}

.form-search #query-fields {
	width: 120px;	
}

.form-search #operators {
	width: 110px;	
}

.form-search .group-append {
	width: 150px;
}

/* edit form */
.nav-icon-prev {
	background-image:url('/img/icon-navigation.png');
	width: 11px;
	height: 18px;
}

#back {
	width: 168px;
	margin-top:2px;	
}

.back-text {
	color: #5B82A4; 
	font-size: 18px;
}

#data-table-pager {
	margin-bottom: 8px;
}

#entity-table-container {
	overflow: auto;
}