#molgenis-header {
	margin-bottom: 10px;
}

#molgenis-menu.nav {
	margin-bottom: 10px;
}

#molgenis-menu.nav li.active a {
	background-color: #3079C2;
	color: white;
}

#molgenis-menu.nav-tabs>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 8px;
	padding-left: 8px;
}

#molgenis-breadcrumb {
	margin-bottom: 10px;	
}

#plugin-container {
	background: #F8FAFB;
	padding: 10px;
	margin-bottom: 10px;
}

#molgenis-footer p {
	text-align: center;
	font: menu;
	font-style: italic;
}

#spinner {
	width: 180px;
	margin:150px 100px 0px -100px;
}

#spinner img {
	display: block;
	margin:0 auto;
}

.alert {
	margin-bottom: 10px;
}