version: "3.7"
services:
  frontend:
    environment:
      MOLGENIS_HOST: ${MOLGENIS_HOST:-host.docker.internal}
    image: ${MOLGENIS_FRONTEND:-molgenis/molgenis-frontend:latest}
    container_name: frontend
    ports:
      - 80:80
    volumes:
      - ./backend.conf.template:/etc/nginx/proxy.d/backend.conf.template
    command: >
      /bin/bash -c "envsubst \"`for v in $$(compgen -v);do printf '$${%s} ' $$v;done`'\"
      < /etc/nginx/proxy.d/backend.conf.template
      > /etc/nginx/proxy.d/backend.conf
      && nginx -g 'daemon off;'"

  postgres:
    image: postgres:11-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
    volumes:
      - ./init_db.sql:/docker-entrypoint-initdb.d/init.sql
      - db-data:/var/lib/postgresql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    environment:
      - cluster.name=molgenis
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es-data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300

  kibana:
    image: docker.elastic.co/kibana/kibana-oss:7.10.2
    ports:
      - 5601:5601

  filebeat:
    image: docker.elastic.co/beats/filebeat-oss:7.10.2
    environment:
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
    volumes:
      - ./logs/:/usr/share/filebeat/input/
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml
    depends_on:
      - elasticsearch

  minio:
    image: minio/minio:RELEASE.2019-03-20T22-38-47Z
    volumes:
      - ~/.molgenis/minio/:/data
    ports:
      - 9000:9000
    environment:
      MINIO_ACCESS_KEY: molgenis
      MINIO_SECRET_KEY: molgenis
    command: server /data

  opencpu:
    image: molgenis/opencpu:opencpu-release-2019-03-20_12-07-11
    container_name: opencpu
    ports:
      - 8004:8004

volumes:
  db-data:
  es-data:
