<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT" class="org.molgenis.audit.TestAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <logstashMarkers/>
      </providers>
    </encoder>
  </appender>
  <logger name="org.molgenis" level="INFO"/>
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>