.table th, .table td { 
	border-top: none; 
}

.table th {
	color: #08c;
}

.table {
	background-color: #DDD;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #bdcdda;
}