<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="jobExecutionLogAppender" class="org.molgenis.jobs.model.JobExecutionLogAppender"/>

  <if condition='isDefined("audit.log.path")'>
    <then>
      <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>${audit.log.path}.%d{yyyy-MM-dd}.log</fileNamePattern>

          <!-- keep 30 days' worth of history capped at 3GB total size -->
          <maxHistory>30</maxHistory>
          <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
          <providers>
            <logstashMarkers/>
          </providers>
        </encoder>
      </appender>
    </then>
  </if>

  <logger name="org.molgenis.audit.AuditEventLogger" level="info" additivity="false">
    <appender-ref ref="FILE-AUDIT"/>
  </logger>

  <logger name="org.molgenis" level="INFO"/>
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="Sentry" />
  </root>
  <logger name="org.molgenis.jobs.model.JobExecution" level="ALL">
    <appender-ref ref="jobExecutionLogAppender"/>
    <appender-ref ref="Sentry" />
  </logger>
  <logger name="org.molgenis.util.i18n.AllPropertiesMessageSource" level="ERROR"/>
</configuration>
