#catalog-loader-title {
	text-align: center;
}

.well {
	margin-top: 40px;
	padding-bottom: 40px;
}

.catalogRadio {
	width: 20px;
	color: #468847;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
}

.catalogId {
	width: 30px;
}
.alert {
	margin-top: 20px;
}

#catalogsTable {
	max-height: 450px;
	overflow: auto;
}
