#catalog-loader-title {
	margin-top: 40px;
	text-align: center;
}

.catalogRadio {
	width: 20px;
	color: #468847;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
}

.alert {
	margin-top: 20px;'
}