<?xml version="1.0" encoding="UTF-8"?>
<!--
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- FrontController mapping for Tomcat -->
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>app.servlet.FrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/tmpfile/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/api/find/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/api/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/api/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/api/soap/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/xref/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/gff/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/fasta/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/api/rest.php/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/lovd/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/cafevariome/*</url-pattern>
	</servlet-mapping>
</web-app>
