.buttons .btn {
	margin-left: 5px;
}

li {
	margin-bottom: 10px;
}

@media (min-width: 979px) {
  .affix {
    position: fixed;
    top:125px;
    max-width:300px;
  }
}

fieldset legend {
	font-size: 30px;
}

fieldset fieldset legend {
	font-size: 25px;
}

fieldset fieldset fieldset legend {
	font-size: 20px;
}

fieldset fieldset fieldset fieldset legend {
	font-size: 15px;
}